.custom-audio-player {
    position: relative;
  }
  

  
  .audio-bars {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px; /* Adjust the height of the bars */
    background-color: #3498db; /* Adjust the color of the bars */
    width: 0;
    overflow: hidden;
  }
  
  .audio-bar {
    height: 100%;
    width: 5%;
    background-color: #ffffff; /* Adjust the color of the individual bars */
    display: inline-block;
    margin-right: 1px; /* Adjust the margin between bars */
  }